@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?zatblu');
  src:  url('../fonts/icomoon/icomoon.eot?zatblu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?zatblu') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?zatblu') format('woff'),
    url('../fonts/icomoon/icomoon.svg?zatblu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-behance:before {
  content: "\f1b4";
}

.icon-instagram:before {
  content: "\e900";
}

.icon-keyboard_arrow_down:before {
  content: "\e313";
}

.icon-infinity:before {
  content: "\e901";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-dribbble:before {
  content: "\eaa7";
}

body {
	font-family: "Segoe UI", Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 18px;
}

a {
	color: #000;
	text-decoration: none;
	transition: ease color .3s;
}

a:hover {
	color: pink;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

h1 {
	text-transform: uppercase;
	font-size: 80px;
	padding-top: 100px;
	text-align: center;
	line-height: 100%;
}

div {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
}

header {
	background: url(../images/header_bg.jpg)no-repeat center top / cover;
	color: #fff;
}

header .logo {
	text-align: center;
}

header .logo a {
	display: block;
}

header .logo img {
	width: 135px;
	padding-top: 80px;
}

header p {
	font-size: 18px;
	text-align: center;
	padding-top: 53px;
	line-height: 28px;
}

.btn_down {
	display: block;
	width: 46px;
	margin: 0 auto;
	padding-top: 194px;
	padding-bottom: 56px;
}

.btn_down span {
	border: solid 2px #fff;
	border-radius: 100%;
	width: 50px;
	font-size: 26px;
    padding: 20%;
    color: #fff;
}

.container {
	max-width: 980px; /* 940 + 20 + 20*/
	padding: 0 20px;
	margin: 0 auto;
}

.what1 {
	color: #464b4f;
	margin: 0 auto;
	background: url(../images/photo_bg.jpg) no-repeat center top / cover;
	background-clip: padding-box;
	padding-top: 115px;
	padding-bottom: 120px;

}

.what h2 {
	font-size: 30px;
	line-height: 42px;
	font-weight: normal;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

section .what h2:nth-child(2) {
	margin-top: 42px;
}

article {
	padding-top: 86px;
	font-size: 18px;
	line-height: 30px;
	color: #888a8b;
}

article p no-span {
	padding-top: 10px;
}

span{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	color: #464b4f;
}

.flex {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.template, .brand, .dreams {
	width: 30%;
}

.work {
	background-color: #23232e;
	color: #FFF;
	padding-bottom: 88px;
}

.nav {
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	list-style: none;
	padding-top: 45px;
}

.nav a {
	color: #FFF;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 14px;
	padding-bottom: 8px;
}

.nav a:hover {
	border-bottom: 2px solid #7b77c9;
}

.photo-wall {
	padding: 0;
	margin: 0 -10px;
}

.photo-wall li a {
	display: block;
	text-decoration: none;
	color: #FFF;
	line-height: 100%;
	max-width: 100%;
}

.photo-wall li {
	list-style: none;
	margin-top: 50px;
	text-align: center;
	width: 33%;
	padding: 0 10px;
}

.photo-wall h3 {
	font-size: 21px;
	font-weight: normal;
	padding-top: 30px;
}

.photo-wall p {
	font-size: 14px;
	color: #818baa;
	margin-top: 12px;
}

.button {
	display: block;
	width: 210px;
	margin: 88px auto;
	padding: 18px 52px;
	text-align: center;
	background-color: #7b77c9;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	color: #FFF;
	font-size: 18px;
	font-family: "Segoe UI", Arial, sans-serif;
	transition: ease all .3s;
}

.button:hover, 
.button:focus {
	background: pink;
	color: #000;
	outline: none;
}

.photo {
	color: #464b4f;
	background: url(../images/photo_bg.jpg) no-repeat center top / cover;
	background-clip: border-box;
	border-bottom: 1px solid #fff;
}

.photo-title {
	max-width: 763px;
	margin: 0 auto;
}

.photo-title h3 {
	font-weight: normal;
	color: #888a8b;
	padding-top: 55px;
	text-align: center;
	font-size: 30px;
	line-height: 42px;
}

.gallery1 {
	margin: 0;
	padding: 0;
	padding-top: 50px;
}

.gallery2 {
	margin: 0;
	padding: 0;
	padding-top: 20px;
}

.gallery1 li, .gallery2 li {
	width: 30%;
	list-style: none;
}

.photo .button {
	padding: 20px;
}

.email {
	background-color: #23232e;
	color: #FFF;
}

.email_block {
	padding: 265px 0;
}

.email_block img {
	display: block;
	margin: 0 auto;
}

.email_block p {
	margin: 60px auto;
	text-align: center;
	font-size: 18px;
}

.email_block form {
	width: 64%;
	margin: 0 auto;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.email_block form .button {
	margin: 0;
	width: 35%;
	min-width: 210px;
}

.input {
	width: 63%;
	min-width: 360px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	color: #c8c8c8;
	padding: 23px;
}


.footer {
	background: url(../images/photo_bg.jpg) no-repeat center top / cover;
	text-align: center;
	padding: 100px 0 105px 0;
	color: #7c7c7c;
}

.social {
	margin-bottom: 100px;
}

.icon-twitter, .icon-dribbble, .icon-behance, .icon-instagram {
	color: #dbdbdb;
	max-width: 14.3%;
	padding: 0 2%;
	font-size: 2em;
}

.fltr {
	display: none;
}



@media only screen and (max-width: 768px) {

	h1 {
		font-size: 60px;
		padding-top: 30px;
	}

	.flex li {
    	width: 48%;
    }
   
	header .logo img {
		padding-top: 40px;
	}

	.btn_down {
		padding: 30px 0;
	}

	.what1 {
		padding: 30px 0;
	}

	.what h2 {
		font-size: 20px;
		line-height: 1.5em;
	}

	article {
		padding: 30px 0;
	}

	article .flex {
		flex-flow: column;
	}

	.template, .brand, .dreams {
		width: 100%;
		margin-bottom: 10px;
	}

	.work {
		padding-bottom: 30px;
	}

	.photo-wall:first-child {
		background: red;
	}

	.photo h1 {
		font-size: 45px;
	}

    .hide {
    	display: none;
    }

    .button {
    	margin: 30px auto 0;
    }

    .photo {
    	padding-bottom: 30px;
    }

    .photo-title h3 {
    	font-size: 18px;
    }

    .email_block {
    	padding: 30px 0;
    }

    .email_block form {
    	width: 98%;
    	flex-direction: column;
    	align-items: center;
    }

    .input {
    	margin-bottom: 10px;
    }

}

@media only screen and (max-width: 320px) {

	h1 {
		font-size: 20px;
	}

	.logo img {
		display: none;
	}

	.btn_down span {
		padding: 5%;
	}

	.template p, .brand p, .dreams p {
		font-size: 10px;
		line-height: 1.2;
	}

	.photo-title h3 {
		font-size: 14px;
		line-height: 1.5em;
	}

	.photo h1 {
		font-size: 25px;
	}

	.what h2 {
		font-size: 14px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.gallery1 {
		flex-flow: column;
	}

	.gallery1 li {
		width: 100%;
		margin-bottom: 20px;
	}

	.gallery2 {
		display: none;
	}

	.photo-wall li {
		width: 100%;
	}

	.input {
		min-width: 300px;
	}


}